# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Temporary files
/tmp/
*.tmp
*.log

# Environment variables
.env
*.env

# Audio files (don't backup test files)
*.wav
*.mp3
*.flac
*.m4a

# Database files
*.db
*.sqlite

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Large files
*.zip
*.tar.gz
cookies.txt
*.txt
scripts/download_all_essentia_models.sh
scripts/models/audioset-vggish-3.pb
scripts/models/discogs_artist_embeddings-effnet-bs64-1.pb
scripts/models/discogs_label_embeddings-effnet-bs64-1.pb
scripts/models/discogs_multi_embeddings-effnet-bs64-1.pb
scripts/models/discogs_release_embeddings-effnet-bs64-1.pb
scripts/models/discogs_track_embeddings-effnet-bs64-1.pb
scripts/models/discogs-effnet-bs64-1.pb
scripts/models/discogs-maest-10s-fs-1.pb
scripts/models/discogs-maest-10s-pw-1.pb
scripts/models/discogs-maest-20s-pw-1.pb
scripts/models/discogs-maest-30s-pw-1.pb
scripts/models/discogs-maest-30s-pw-ts-1.pb
models/audioset-vggish-3.pb
models/discogs_artist_embeddings-effnet-bs64-1.pb
models/discogs_label_embeddings-effnet-bs64-1.pb
models/discogs_multi_embeddings-effnet-bs64-1.pb
models/discogs_release_embeddings-effnet-bs64-1.pb
models/discogs_track_embeddings-effnet-bs64-1.pb
models/discogs-effnet-bs64-1.pb
models/discogs-effnet-key.pb
